.container {
  max-width: 1520px;
  margin: 0 auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 50px 80px;
  align-items: center;
}
.footer__wrapper--left {
  display: flex;
  align-items: center;
  gap: 100px;
}

.footer {
  border-top: 5px solid var(--2, #8B9D83);
}

.footer__menu {
  display: flex;
  gap: 40px;
}

.img__text {
  display: flex;
  gap: 20px;
}

.INN {
  color: #A49B9B;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.finishedHous {
  color: #424242;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.Project-section {
  margin-top: 23px;
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 37px;
}
.Project-section .project-title {
  color: #424242;
  font-family: Roboto;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.Project-section .project-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 38px;
  border-radius: 15.688px 15.688px 47.063px 47.063px;
  border: 4px solid var(--2, #8b9d83);
  background: #ede8e2;
}
.Project-section .project-item .image {
  width: 590px;
  height: 280px;
}
.Project-section .project-item .project-description {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  margin-bottom: 38px;
}

.project-description button {
  border-radius: 78px;
  background: var(--2, #8B9D83);
  box-shadow: -4px -4px 20px 0px #fff, 3px 3px 20px 0px rgba(85, 93, 36, 0.3);
  padding: 18px 110px;
  border: 2px solid transparent;
  color: #fff;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: all linear 0.5s;
  padding: 20px 34px;
}
.project-description button:hover {
  border: 2px solid #8B9D83;
  background: transparent;
  color: #8B9D83;
  cursor: pointer;
}

.Final-Button {
  margin-top: 18px;
  border-radius: 78px;
  background: var(--2, transparent);
  box-shadow: -4px -4px 20px 0px #fff, 3px 3px 20px 0px rgba(85, 93, 36, 0.3);
  padding: 18px 110px;
  border: 2px solid #8B9D83;
  color: #8B9D83;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: all linear 0.5s;
  padding: 21px 52px;
}
.Final-Button:hover {
  border: 2px solid transparent;
  background: #8B9D83;
  color: white;
  cursor: pointer;
}

.Project-separate {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 60px;
}

.not-item {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.not-item p {
  color: #000;
  text-align: center;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.not-item .not-button {
  margin-top: 50px;
  border-radius: 78px;
  background: var(--2, transparent);
  box-shadow: -4px -4px 20px 0px #fff, 3px 3px 20px 0px rgba(85, 93, 36, 0.3);
  padding: 18px 110px;
  border: 2px solid #8B9D83;
  color: #8B9D83;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: all linear 0.5s;
  padding: 21px 52px;
  margin-bottom: 120px;
}
.not-item .not-button:hover {
  border: 2px solid transparent;
  background: #8B9D83;
  color: white;
  cursor: pointer;
}

.not-item h1 {
  color: #6f6f6f;
  font-family: Roboto;
  font-size: 250px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.not-item h1 span {
  color: #8b9d83;
  font-family: Roboto;
  font-size: 250px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.server-items {
  margin-top: 23px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 55px;
}
.server-items h3 {
  color: #424242;
  font-family: Roboto;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.server-items .item-server {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.server-items .item-server .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 17px;
  border-radius: 15.688px 15.688px 47.063px 47.063px;
  border: 4px solid var(--2, #8b9d83);
  background: #ede8e2;
}
.server-items .item-server .item button {
  border-radius: 78px;
  background: var(--2, #8B9D83);
  box-shadow: -4px -4px 20px 0px #fff, 3px 3px 20px 0px rgba(85, 93, 36, 0.3);
  padding: 18px 110px;
  border: 2px solid transparent;
  color: #fff;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: all linear 0.5s;
  padding: 17px 34px;
  margin-bottom: 38px;
}
.server-items .item-server .item button:hover {
  border: 2px solid #8B9D83;
  background: transparent;
  color: #8B9D83;
  cursor: pointer;
}
.server-items .item-server .item p {
  margin-bottom: 0;
}
.server-items .button-serverr {
  border-radius: 78px;
  background: var(--2, transparent);
  box-shadow: -4px -4px 20px 0px #fff, 3px 3px 20px 0px rgba(85, 93, 36, 0.3);
  padding: 18px 110px;
  border: 2px solid #8B9D83;
  color: #8B9D83;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: all linear 0.5s;
  padding: 21px 52px;
  margin-bottom: 80px;
}
.server-items .button-serverr:hover {
  border: 2px solid transparent;
  background: #8B9D83;
  color: white;
  cursor: pointer;
}

.price-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 70px;
  margin-top: 23px;
  margin-bottom: 100px;
}
.price-section h3 {
  color: #424242;
  font-family: Roboto;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.price-section .price-items {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 70px;
}
.price-section .price-items .price-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 15px;
  padding: 50px;
  border-radius: 20px;
  border: 4px solid var(--2, #8b9d83);
}
.price-section .price-items .price-item h5 {
  color: #424242;
  font-family: Roboto;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 15px;
}
.price-section .price-items .price-item button {
  margin-top: 29px;
  border-radius: 78px;
  background: var(--2, #8B9D83);
  box-shadow: -4px -4px 20px 0px #fff, 3px 3px 20px 0px rgba(85, 93, 36, 0.3);
  padding: 18px 110px;
  border: 2px solid transparent;
  color: #fff;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: all linear 0.5s;
  padding: 20px 34px;
}
.price-section .price-items .price-item button:hover {
  border: 2px solid #8B9D83;
  background: transparent;
  color: #8B9D83;
  cursor: pointer;
}
.price-section .price-items .price-item .price-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 98px;
}

.contact-section {
  margin-top: 23px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 94px;
}
.contact-section h3 {
  color: #424242;
  font-family: Roboto;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.contact-section .contact-items {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 141px;
}
.contact-section .contact-items .contact-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 17px;
}
.contact-section .contact-items .contact-item h6 {
  margin-top: 50px;
  color: #424242;
  text-align: center;
  font-family: Roboto;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.contact-section .contact-items .contact-item p {
  color: #424242;
  text-align: center;
  font-family: Roboto;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 0;
}
.contact-section .contact-items .contact-item .small-item {
  margin-top: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 19px;
}
.contact-section .contact-items .contact-item .small-item p {
  margin-bottom: 0;
}
.contact-section .contact-items .contact-item button {
  margin-top: 44px;
  border-radius: 78px;
  background: var(--2, transparent);
  box-shadow: -4px -4px 20px 0px #fff, 3px 3px 20px 0px rgba(85, 93, 36, 0.3);
  padding: 18px 110px;
  border: 2px solid #8B9D83;
  color: #8B9D83;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: all linear 0.5s;
  padding: 21px 52px;
}
.contact-section .contact-items .contact-item button:hover {
  border: 2px solid transparent;
  background: #8B9D83;
  color: white;
  cursor: pointer;
}
.contact-section .forLocation {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 48px;
}
.contact-section .forLocation .locateDesc {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
}
.contact-section .forLocation iframe {
  border-radius: 30px;
  width: 1307px;
  height: 431px;
  margin-bottom: 34px;
}

.aboutSection1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.aboutSection1 .aboutText .textH1 {
  color: #424242;
  font-family: Roboto;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.aboutSection1 .aboutText .textH1 span {
  color: #8b9d83;
  font-family: Roboto;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.aboutSection1 .aboutText .textP1 {
  margin-top: 45px;
  color: #424242;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.aboutSection1 .aboutText .aboutBtn {
  display: flex;
  gap: 10px;
}
.aboutSection1 .aboutText .aboutBtn .aBtn1 {
  border-radius: 78px;
  background: var(--2, #8B9D83);
  box-shadow: -4px -4px 20px 0px #fff, 3px 3px 20px 0px rgba(85, 93, 36, 0.3);
  padding: 18px 110px;
  border: 2px solid transparent;
  color: #fff;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: all linear 0.5s;
  font-size: 14px;
  padding: 17px 20px;
}
.aboutSection1 .aboutText .aboutBtn .aBtn1:hover {
  border: 2px solid #8B9D83;
  background: transparent;
  color: #8B9D83;
  cursor: pointer;
}
.aboutSection1 .aboutText .aboutBtn .aBtn2 {
  border-radius: 78px;
  background: var(--2, transparent);
  box-shadow: -4px -4px 20px 0px #fff, 3px 3px 20px 0px rgba(85, 93, 36, 0.3);
  padding: 18px 110px;
  border: 2px solid #8B9D83;
  color: #8B9D83;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: all linear 0.5s;
  font-size: 14px;
  padding: 17px 20px;
}
.aboutSection1 .aboutText .aboutBtn .aBtn2:hover {
  border: 2px solid transparent;
  background: #8B9D83;
  color: white;
  cursor: pointer;
}
.aboutSection1 img {
  width: 560px;
  height: 410px;
}

.aboutSection2 {
  margin-top: 120px;
}
.aboutSection2 .aBoxs {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.aboutSection2 .aBoxs .box {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 17px;
  border-radius: 15.688px 15.688px 47.063px 47.063px;
  border: 4px solid var(--2, #8b9d83);
  background: #ede8e2;
}
.aboutSection2 .aBoxs .boxText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px 10px;
}
.aboutSection2 .aBoxs .boxText h4 {
  color: #424242;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.aboutSection2 .aBoxs .boxText p {
  color: #424242;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.aboutSection3 {
  margin-top: 120px;
}
.aboutSection3 .sec {
  margin-top: 60px;
  display: flex;
  gap: 50px;
}
.aboutSection3 .secBtn3 {
  margin-top: 60px;
  margin-bottom: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.aboutSection3 .secBtn3 button {
  border-radius: 78px;
  background: var(--2, transparent);
  box-shadow: -4px -4px 20px 0px #fff, 3px 3px 20px 0px rgba(85, 93, 36, 0.3);
  padding: 18px 110px;
  border: 2px solid #8B9D83;
  color: #8B9D83;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: all linear 0.5s;
}
.aboutSection3 .secBtn3 button:hover {
  border: 2px solid transparent;
  background: #8B9D83;
  color: white;
  cursor: pointer;
}

/*# sourceMappingURL=main.css.map */
