@mixin buttonOne {
  border-radius: 78px;
  background: var(--2, $green);
  box-shadow: -4px -4px 20px 0px #fff, 3px 3px 20px 0px rgba(85, 93, 36, 0.3);
  padding: 18px 110px;
  border: 2px solid transparent;
  color: #fff;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: all linear 0.5s;
  &:hover {
    border: 2px solid $green;
    background: transparent;
    color: $green;
    cursor: pointer;
  }
}
@mixin buttonTwo {
  border-radius: 78px;
  background: var(--2, transparent);
  box-shadow: -4px -4px 20px 0px #fff, 3px 3px 20px 0px rgba(85, 93, 36, 0.3);
  padding: 18px 110px;
  border: 2px solid $green;
  color: $green;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: all linear 0.5s;

  &:hover {
    border: 2px solid transparent;
    background: $green;
    color: white;
    cursor: pointer;
  }
}
