.footer__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 50px 80px;
    align-items: center;

    &--left {
        display: flex;
        align-items: center;
        gap: 100px;
    }
}

.footer {
    border-top: 5px solid var(--2, $green);
}

.footer__menu {
    display: flex;
    gap: 40px;
}

.img__text {
    display: flex;
    gap: 20px;
}

.INN {
    color: $footerText;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.finishedHous {
    color: $mainText;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}