.aboutSection1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .aboutText {
    .textH1 {
      color: #424242;
      font-family: Roboto;
      font-size: 48px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      span {
        color: #8b9d83;
        font-family: Roboto;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
    }
    .textP1 {
      margin-top: 45px;
      color: #424242;
      font-family: Roboto;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
    .aboutBtn {
      display: flex;
      gap: 10px;
      .aBtn1 {
        @include buttonOne;
        font-size: 14px;
        padding: 17px 20px;
      }
      .aBtn2 {
        @include buttonTwo;
        font-size: 14px;
        padding: 17px 20px;
      }
    }
  }
  img {
    width: 560px;
    height: 410px;
  }
}
.aboutSection2 {
  margin-top: 120px;
  .aBoxs {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 50px;
    .box {
      margin-top: 60px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 17px;
      border-radius: 15.688px 15.688px 47.063px 47.063px;
      border: 4px solid var(--2, #8b9d83);
      background: #ede8e2;
    }
    .boxText {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 10px 10px;
      h4 {
        color: #424242;
        font-family: Roboto;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }
      p {
        color: #424242;
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }
  }
}

.aboutSection3 {
  margin-top: 120px;

  .sec {
    margin-top: 60px;
    display: flex;
    // flex-wrap: wrap;
    gap: 50px;
  }
  .secBtn3 {
    margin-top: 60px;
    margin-bottom: 80px;
    display: flex;
    align-items: center;
    justify-content: center;

    button {
      @include buttonTwo;
    }
  }
}

// .aboutSection4 {
//   .card {
//     display: flex;
//     flex-direction: column;
//     gap: 10px;
//   }
//   .aCard1 {
//     display: flex;
//     // flex-direction: column;
//   }
// }

// @media screen(max-width: 1300px ) {
//   .
// }
