.contact-section {
  margin-top: 23px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 94px;
  h3 {
    color: #424242;
    font-family: Roboto;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .contact-items {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 141px;
    .contact-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 17px;
      h6 {
        margin-top: 50px;
        color: #424242;
        text-align: center;
        font-family: Roboto;
        font-size: 28px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }
      p {
        color: #424242;
        text-align: center;
        font-family: Roboto;
        font-size: 28px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 0;
      }
      .small-item {
        margin-top: 22px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 19px;
        p {
          margin-bottom: 0;
        }
      }
      button {
        margin-top: 44px;
        @include buttonTwo;
        padding: 21px 52px;
      }
    }
  }
  .forLocation {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 48px;
    .locateDesc {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 14px;
    }
    iframe {
      border-radius: 30px;
      width: 1307px;
      //   width: 100%;
      //   height: auto;
      height: 431px;
      margin-bottom: 34px;
    }
  }
}
