@import "../abstract/mixin";
.not-item {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  p {
    color: #000;
    text-align: center;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }
  .not-button {
    margin-top: 50px;
    @include buttonTwo;
    padding: 21px 52px;
    margin-bottom: 120px;
  }
}

.not-item h1 {
  color: #6f6f6f;
  font-family: Roboto;
  font-size: 250px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  span {
    color: #8b9d83;
    font-family: Roboto;
    font-size: 250px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
