.price-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 70px;
  margin-top: 23px;
  margin-bottom: 100px;
  h3 {
    color: #424242;
    font-family: Roboto;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .price-items {
    display: flex;
    // ejfierjifjri
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 70px;
    .price-item {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      gap: 15px;
      padding: 50px;
      border-radius: 20px;
      border: 4px solid var(--2, #8b9d83);
      //   margin-bottom: 160px;
      h5 {
        color: #424242;
        font-family: Roboto;
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 15px;
      }
      button {
        margin-top: 29px;
        @include buttonOne;
        padding: 20px 34px;
      }
      .price-list {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 98px;
      }
    }
  }
}
