@import "../abstract/mixin";

.Project-section {
  margin-top: 23px;
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 37px;
  .project-title {
    color: #424242;
    font-family: Roboto;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .project-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 38px;
    border-radius: 15.688px 15.688px 47.063px 47.063px;
    border: 4px solid var(--2, #8b9d83);
    background: #ede8e2;
    .image {
      width: 590px;
      height: 280px;
    }
    .project-description {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 100px;
      margin-bottom: 38px;
    }
  }
}

.project-description button {
  @include buttonOne;
  padding: 20px 34px;
}
.Final-Button {
  margin-top: 18px;
  @include buttonTwo;
  padding: 21px 52px;
}
.Project-separate {
  //   padding-left: 50px;
  //   padding-right: 50px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 60px;
}
