.server-items {
  margin-top: 23px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 55px;
  // kjj

  h3 {
    color: #424242;
    font-family: Roboto;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .item-server {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 50px;
    .item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 17px;
      border-radius: 15.688px 15.688px 47.063px 47.063px;
      border: 4px solid var(--2, #8b9d83);
      background: #ede8e2;
      button {
        @include buttonOne;
        padding: 17px 34px;
        margin-bottom: 38px;
      }
      p {
        margin-bottom: 0;
      }
    }
  }
  .button-serverr {
    @include buttonTwo;
    padding: 21px 52px;
    margin-bottom: 80px;
  }
}
